# MALIS 19.3 WPM_T9.2 Frage 5
## Datenanalyse der offenen Daten der Seattle Library


Die URL definiert in welcher Größe die Datenmengen abgerufen werden. So kann man die URL auf Zeilen (standartmäßig 1000) oder auf Jahre begrenzen. Für die Fragen wurde ist ein Limit von 3.000.000 Zeilen genommen, damit sind alle Checkouts des Jahres 2018 enthalten. 
Folgende fünf Fragen sollen mittels der Datenanalyse beantwortet werden:

# Frage 5 "Sieht man von 2005 bis 2018 eine Veränderung der UsageClass? Wie ist das Verhältnis der Ausleihen zwischen digitalen und physischen Medien?"

Hierfür wird zunächst pandas nach Anleitung heruntergeladen. Dann werden die Daten importiert.

In [1]:
import urllib.request
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
urlfuenf = "https://data.seattle.gov/resource/tmmm-ytt6.csv?$where=checkoutyear=2005&$limit=3000000"
urlachtzehn = "https://data.seattle.gov/resource/tmmm-ytt6.csv?$where=checkoutyear=2018&$limit=3000000"
fuenf = "Checkoutsfuenf.csv"
achtzehn = "Checkoutsachtzehn.csv"

In [3]:
# Download der Daten
#urllib.request.urlretrieve(urlfuenf, fuenf)
#urllib.request.urlretrieve(urlachtzehn, achtzehn)

In [4]:
checkoutfuenf = pd.read_csv(fuenf)
checkoutachtzehn = pd.read_csv(achtzehn)

In [5]:
checkoutfuenf

,usageclass,checkouttype,materialtype,checkoutyear,checkoutmonth,checkouts,title,creator,subjects,publisher,publicationyear
0,Physical,Horizon,BOOK,2005,4,1,Tidal wave,NaN,"Tsunamis, Tsunamis Juvenile literature",NaN,NaN
1,Physical,Horizon,BOOK,2005,4,1,London holiday / Richard Peck.,"Peck, Richard, 1934-",NaN,"Viking,",1998.
2,Physical,Horizon,BOOK,2005,4,3,Cinco de Mayo : celebrating Hispanic pride / C...,"Gnojewski, Carol",Cinco de Mayo Mexican holiday History Juvenile...,"Enslow Publishers,",c2002.
3,Physical,Horizon,BOOK,2005,4,1,Annapolis,NaN,"War stories, Historical fiction, Domestic fict...",NaN,NaN
4,Physical,Horizon,BOOK,2005,4,1,As a man thinketh,NaN,Thought and thinking,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1331647,Physical,Horizon,SOUNDDISC,2005,12,3,history of the Bonzos,NaN,"Humorous songs, Rock music 1971 1980, Popular ...",NaN,NaN
1331648,Physical,Horizon,BOOK,2005,12,1,power of partnerships the next step beyond TQM...,NaN,"Industrial management, Performance contracts",NaN,NaN
1331649,Physical,Horizon,BOOK,2005,12,1,Butterflies,NaN,"Toy and movable books, Butterflies, Toy and mo...",NaN,NaN
1331650,Physical,Horizon,BOOK,2005,12,1,16 Lighthouse Road,NaN,"Love stories, Large type books, Washington Sta...",NaN,NaN
1331651,Physical,Horizon,BOOK,2005,12,2,naturally sweet baker 150 decadent desserts ma...,NaN,"Desserts, Baking, Sugar free diet Recipes",NaN,NaN

In [6]:
checkoutachtzehn

,usageclass,checkouttype,materialtype,checkoutyear,checkoutmonth,checkouts,title,creator,subjects,publisher,publicationyear
0,Physical,Horizon,BOOK,2018,12,1,"Naruto. Vol. 65, Hashirama and Madara / story ...","Kishimoto, Masashi, 1974-",Naruto Fictitious character Comic books strips...,"VIZ Media,",[2014]
1,Physical,Horizon,BOOK,2018,12,2,Oishisō na shirokuma / Shibata Keiko.,"Shibata, Keiko.","Polar bear Juvenile fiction, Food Juvenile fic...","Pīeichipīkenkyūjo,",2017.
2,Physical,Horizon,VIDEODISC,2018,12,7,Like crazy / Paramount Vantage ; Indian Paintb...,NaN,"First loves Drama, College students Drama, Fea...","Paramount Home Entertainment,",[2012]
3,Digital,OverDrive,AUDIOBOOK,2018,12,3,Catch a Falling Heiress: American Heiress In L...,Laura Lee Guhrke,"Fiction, Historical Fiction, Romance",HarperCollins Publishers Inc.,2016
4,Physical,Horizon,BOOK,2018,12,1,Literally show me a healthy person / Darcie Wi...,"Wilder, Darcie","Young women Fiction, Grief Fiction","Tyrant Books,",[2017]
...,...,...,...,...,...,...,...,...,...,...,...
2665093,Digital,Hoopla,MUSIC,2018,1,1,The Snow Queen,NaN,Pop,LIGHTYEAR,NaN
2665094,Physical,Horizon,BOOK,2018,1,4,There was an old lady who swallowed a fly / il...,NaN,"Nonsense verses Juvenile literature, Folk song...","Child's Play,",2002.
2665095,Physical,Horizon,BOOK,2018,1,2,The book of night women / Marlon James.,"James, Marlon, 1970-","Slaves Fiction, Jamaica Fiction, Historical fi...","Riverhead Books,",2010.
2665096,Physical,Horizon,BOOK,2018,1,1,Hunting Eve / Iris Johansen.,"Johansen, Iris","Duncan Eve Fictitious character Fiction, Track...","St. Martin's Press,",2013.
2665097,Physical,Horizon,BOOK,2018,1,1,Bienestar emocional / Osho ; traducción de Esp...,"Osho, 1931-1990,",Emotions,"Debolsillo,",2017.

In [7]:
checkoutfuenf.columns

Index(['usageclass', 'checkouttype', 'materialtype', 'checkoutyear',
       'checkoutmonth', 'checkouts', 'title', 'creator', 'subjects',
       'publisher', 'publicationyear'],
      dtype='object')

In [8]:
checkoutachtzehn.columns

Index(['usageclass', 'checkouttype', 'materialtype', 'checkoutyear',
       'checkoutmonth', 'checkouts', 'title', 'creator', 'subjects',
       'publisher', 'publicationyear'],
      dtype='object')

In [10]:
fuenfp = checkoutfuenf.pivot_table(index = "usageclass", values = "title", aggfunc="count")

In [11]:
fuenfp

              title
usageclass
Digital        3521
Physical    1328131

In [13]:
achtp = checkoutachtzehn.pivot_table(index = "usageclass", values = "title", aggfunc="count")

In [14]:
achtp

              title
usageclass
Digital      966418
Physical    1698680

In [17]:
achtp.divide()

TypeError: f() missing 1 required positional argument: 'other'